<div id="loading-indicator" class="loading-indicator">
    <!-- <div class="spinner"></div> -->

    <div class="spinner-grow text-dark" role="status">
        <span class="sr-only">Loading...</span>
      </div>


      <div class="spinner-grow text-dark" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    
      <div class="spinner-grow text-dark" role="status">
        <span class="sr-only">Loading...</span>
      </div></div>

