<%- include('./header', {isLogin: isLogin, cartCount}) %>

<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="bread">
          <span><a href="/" style="color: #4f2f2d;">Home</a></span> /
          <span><a href="/profile" style="color: #4f2f2d;">Profile</a></span> /
          <span>Change password</span>
        </p>
      </div>
    </div>
  </div>
</div>



<div
  class="d-flex justify-content-center align-items-center"
  style="height: 100vh"
>
  <form
    method="post"
    id="changePasswordForm"
    action=""
    class="colorlib-form col-md-3"
    style="height: auto"
  >
    <h2 class="text-center" style="margin-bottom: 25px">CHANGE PASSWORD</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="currentPassword">Current Password</label>
          <input
            type="password"
            id="currentPassword"
            class="form-control"
            placeholder="Current password"
          />
          <span id="currentPasswordError" style="color: red"></span>

        </div>

        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input
            type="password"
            id="newPassword"
            class="form-control"
            placeholder="New password"
          />
          <span id="passwordError" style="color: red"></span>
 
        </div>


        <div class="form-group">
          <label for="confirmNewPassword">Confirm New Password</label>
          <input
            type="password"
            id="confirmNewPassword"
            class="form-control"
            placeholder="Confirm password"
          />
          <span id="passwordConfirmError" style="color: red"></span>

        </div>

      </div>

      <input
        type="submit"
        class="btn theme-bg text-white"
        style="
          width: 100%;
          border-radius: 10px;
          height: 50px;
          margin-left: 15px;
          margin-right: 15px;
        "
      />
    </div>
  </form>
</div>




<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const changePasswordForm =document.getElementById('changePasswordForm')

  changePasswordForm.addEventListener("submit", (event) => {
    event.preventDefault();

    const currentPassword = document.getElementById("currentPassword").value;
    const password= document.getElementById("newPassword").value;
    const confirmPassword = document.getElementById("confirmNewPassword").value;

    let passwordError = document.getElementById("passwordError");
    let currentPasswordError = document.getElementById("currentPasswordError");
    let passwordConfirmError = document.getElementById("passwordConfirmError");



    let isValid = true

    if (!currentPassword.trim()) {
      currentPasswordError.textContent = "This field is required";
      isValid = false;
    } else if (/\s/.test(currentPassword) || /^\s|\s$/.test(currentPassword)) {
      currentPasswordError.textContent = "Enter a valid password";
      isValid = false;
    } else {
      currentPasswordError.textContent = "";
    }


        //Password validation
        if (!password.trim()) {
      passwordError.textContent = "This field is required";
      isValid = false;
    } else if (password && password.length < 8) {
      passwordError.textContent = "Password must be at least 8 characters long";
      isValid = false;
    } else if (/\s/.test(password) || /^\s|\s$/.test(password)) {
      passwordError.textContent = "Enter a valid password";
      isValid = false;
    } else if(!/^[^\W_][\w\W]{4,}$/.test(password)){
      passwordError.textContent = "Enter a valid password";
    } else {
      passwordError.textContent = "";
    }

    //Password 2 validation
    if (!confirmPassword.trim()) {
      passwordConfirmError.textContent = "This field is required";
      isValid = false;
    } else if (password !== confirmPassword) {
      passwordConfirmError.textContent = "Password does not match";
    } else {
      passwordConfirmError.textContent = "";
    }


    if(isValid){

    axios
      .post("/profile/changePassword", { currentPassword: currentPassword, newPassword: password })
      .then((response) => {
        if (response.status == 200) {
          new Noty({
            type: "success",
            text: response.data.message,
            timeout: 3000, // Duration to display the message (in milliseconds)
            layout: "bottomCenter",
            theme: "relax",
            animation: {
              open: "animated bounceInRight",
              close: "animated bounceOutRight",
            },
            callbacks: {
              afterClose: function () {
                // Redirect to the sign-in page after the notification closes
                window.location.href = "/profile";
              },
            },
          }).show();
        }
      })
      .catch((error) => {
        console.log("it is an error", error);
        if (error.response.status == 409) {
            new Noty({
              type: "error",
              text: error.response.data.message,
              timeout: 3000,
              layout: "bottomCenter",
              theme: "metroui",
            }).show();
        }
      });
    }

  });
</script>

<%- include('./footer') %>