<%- include('./header', {isLogin: isLogin, cartCount}) %>

	<!-- <div class="colorlib-loader"></div> -->



	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="bread"><span><a href="/" style="color: #4f2f2d;">Home</a></span> / <span><a href="/shop" style="color: #4f2f2d;">Shop</a></span> / <span>Product Details</span></p>
				</div>
			</div>
		</div>
	</div>

	<span id="data-handler" style="display: none;" varient-data-id="<%=  varientId %>"
		product-data-id="<%= productId %>"></span>

	<div class="colorlib-product">
		<div class="container">
			<div class="row row-pb-lg product-detail-wrap">
				<div class="col-sm-1">

					<img id="img1" src="" class="img-fluid border mb-2 sideImg" alt="Free html5 bootstrap 4 template">
					<img id="img2" src="" class="img-fluid border mb-2 sideImg" alt="Free html5 bootstrap 4 template">
					<img id="img3" src="" class="img-fluid border mb-2 sideImg" alt="Free html5 bootstrap 4 template">
					<img id="img4" src="" class="img-fluid border sideImg" alt="Free html5 bootstrap 4 template">

				</div>
				<div class="col-sm-6 product-image-container">

					<div class="product-image">
						<img id="showImg" src="" class="img-fluid" alt="Free html5 bootstrap 4 template">
					</div>


					<div id="zoomLens"></div>
					<div id="zoomResult"></div>
				</div>
				<div class="col-sm-5">
					<div class="product-desc product-details">

						<!--product details -->
						<p style="font-weight: bold; font-size: 26px; color: black;" class="text-uppercase"
							id="product-title"><span id="show-model-name"></span> <span id="show-category-name"></span>
							for <span id="show-gender"></span></p>
						<p><span id="product-desc-top">When she reached the first hills of the Italic Mountains, she
								had a last view back on the skyline of her hometown
								Bookmarksgrov...</span><a href="#productDetailsArea" style="color: blue;"> Read
								more.</a></p>
						<p class="price">
							<span style="font-size: 25px;" id="show-price"></span>
						<div style="font-size: 25px; display: flex; flex-direction: row; align-items: center;"
							id="show-price-offer"></div>


						</p>

						<div class="">

							<!-- Color container -->
							<span>
								<p style="font-size: 25px; color: red;" id="show-stock">Only Few Left</p>
							</span>
						</div>

						<!-- <span class="rate" style="display: flex; flex-direction: row;">
							<div
								style="background-color: green; width: auto; padding-left: 5px; padding-right: 5px; border-radius: 50px;  margin-right: 5px;">
								<span style="font-size: 15; color: white; font-weight: bold;">4.5</span>
								<i class="icon-star-full" style="color: white;"></i>
							</div>
							<span>(74 ratings & 15 reviews)</span>
						</span>
						<p></p> -->
						<div class="size-wrap">
							<div class="block-26 mb-2">
								<h4>Size</h4>
								<ul id="size-container">



								</ul>
							</div>
							<div class="block-26 mb-4">
								<h4>Color</h4>
								<!-- Color container -->
								<ul id="color-container">

								</ul>
							</div>


						</div>
						<div class="input-group mb-4">
							<span class="input-group-btn">
								<button id="decrement-qty" type="button" style="background-color: #4f2f2d;" class="dec-qty-btn quantity-left-minus btn"
									data-type="minus" data-field="">
									<i class="icon-minus2 dec-qty-btn" style="color: white;"></i>
								</button>
							</span>
							<input type="text" id="quantity-input" name="quantity" class="form-control input-number"
								value="1" min="1" max="100" disabled>
							<span class="input-group-btn ml-1">
								<button id="increment-qty" type="button" style="background-color: #4f2f2d;" class="inc-qty-btn quantity-right-plus btn"
									data-type="plus" data-field="">
									<i class="icon-plus2 inc-qty-btn" style="color: white;"></i>
								</button>
							</span>
						</div>
						<div class="row">
							<div class="col-sm-6 text-center">
								<p class="addtocart"><a href="" id="addToCartBtn" style="background-color: #4f2f2d; color: white;" class="btn btn-addtocart"><i
											class="icon-shopping-cart"></i> Add to
										Cart</a></p>
							</div>

							<div class="col-sm-6 text-center">
								<div id="addToWishlistBtn" class="btn btn-primary btn-addtocart" style="background-color: #4f2f2d;"><i
										class="icon-heart"></i>Save to Wishlist</div>
							</div>
						</div>
						<div class="magnified-img"></div>
					</div>
				</div>
			</div>

			<div class="row" id="productDetailsArea">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-md-12 pills">
							<div class="bd-example bd-example-tabs">
								<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

									<li class="nav-item">
										<a class="nav-link active" id="pills-description-tab" data-toggle="pill"
											href="#pills-description" role="tab" aria-controls="pills-description"
											aria-expanded="true">PRODUCT DETAILS</a>
									</li>

								</ul>

								<div class="tab-content" id="pills-tabContent">
									<div class="tab-pane border fade show active" id="pills-description" role="tabpanel"
										aria-labelledby="pills-description-tab">
										<!-- product description -->

										<p id="p-desc">ss</p>
										<ul>
											<li id="p-clr"></li>
											<li id="p-model"></li>
											<li id="p-brand"></li>
											<li id="p-outer"></li>
											<li id="p-sole"></li>
											<li id="p-gender"></li>
											<li id="p-category"></li>


										</ul>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="colorlib-product">
				<div class="container">
					<div class="row">
						<div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
							<h2>Related Products</h2>
						</div>
					</div>
					<div class="row row-pb-md" id="item-container">
						<div class="col-lg-3 mb-4 text-center">
							<div class="product-entry border">
								<a href="#" class="prod-img">
									<img src="/static/user/images/item-1.jpg" class="img-fluid"
										alt="Free html5 bootstrap 4 template" />
								</a>
								<div class="desc">
									<h2><a href="#">Women's Boots Shoes Maca</a></h2>
									<span class="price">$139.00</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3 mb-4 text-center">
							<div class="product-entry border">
								<a href="#" class="prod-img">
									<img src="/static/user/images/item-2.jpg" class="img-fluid"
										alt="Free html5 bootstrap 4 template" />
								</a>
								<div class="desc">
									<h2><a href="#">Women's Minam Meaghan</a></h2>
									<span class="price">$139.00</span>
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- </html> -->


	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="path/to/jquery.min.js"></script>
	<!-- <script src="path/to/owl.carousel.min.js"></script> -->
	
	<script src="/static/custom/js/user/productDetail.js"></script>
	<%- include('./footer') %>