<%- include('./header', {isLogin: isLogin, cartCount}) %>

  <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
    <form method="post" id="resetPasswordEmailForm" action="" class="colorlib-form col-md-3" style="height: auto">
      <h3 class="text-center" style="margin-bottom: 20px">
        Forgot your password?
      </h3>
      <span class="text-center">Enter the email address associated with your account, and we'll send you
        a link to reset your password.</span>
      <div class="row mt-4">
        <div class="col-md-12">
          <div class="form-group">
            <input type="email" id="email" name="email" id="resetEmail" class="form-control"
              placeholder="Email address" />
            <span id="emailError" style="color: red"></span>
          </div>
        </div>

        <input type="submit" class="btn btn-dark" style="
          width: 100%;
          border-radius: 10px;
          height: 50px;
          margin-left: 15px;
          margin-right: 15px;
        " />
      </div>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script>
    resetPasswordEmailForm.addEventListener("submit", (event) => {
      event.preventDefault();

      const email = document.getElementById("email").value;
      let emailError = document.getElementById("emailError")

      let isValid = true


      //Email validation
      if (!email.trim()) {
      emailError.textContent = "Email is required";
      isValid = false;
    } else if (email && !/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)) {
      emailError.textContent = "Please enter a valid email address";
      isValid = false;
    } else if (/\s/.test(email) || /^\s|\s$/.test(email)) {
      emailError.textContent = "Please enter a valid email address";
      isValid = false;
    } else {
      emailError.textContent = "";
    }

      if (isValid) {
        axios
          .post("/password/reset/request", { email: email })
          .then((response) => {
            console.log(response);
            if (response.status == 200) {
              //   window.location.href = "/signin"
              new Noty({
                type: "success",
                text: response.data.message,
                timeout: 5000,
                layout: "bottomCenter",
                theme: "relax",
                animation: {
                  open: "animated bounceInRight",
                  close: "animated bounceOutRight",
                },
              }).show();
            }
          })
          .catch((error) => {
            console.log("it is an error", error);
            if (error.response.status == 400) {
              //    new Noty({
              //          type: 'error',
              //          text:  error.response.data.message,
              //          timeout: 3000,
              //          layout: 'bottomCenter',
              //          theme: 'metroui',
              //      }).show();
            }
          });
      }
    });
  </script>

  <%- include('./footer') %>