<%- include('./header', {isLogin: isLogin, cartCount}) %>

<div
  class="d-flex justify-content-center align-items-center"
  style="height: 100vh"
>
  <form
    method="post"
    id="resetPasswordForm"
    action=""
    class="colorlib-form col-md-3"
    style="height: auto"
  >
    <h3 class="text-center" style="margin-bottom: 20px">RESET PASSWORD</h3>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <input
            type="password"
            id="password"
            class="form-control"
            placeholder="New password"
          />
          <span id="passwordError" style="color: red"></span>

        </div>

        <div class="form-group">
          <input
            type="password"
            id="confirmPassword"
            class="form-control"
            placeholder="Confirm new password"
          />
          <span id="password2Error" style="color: red"></span>

        </div>
      </div>

      <input
        type="submit"
        class="btn btn-dark"
        style="
          width: 100%;
          border-radius: 10px;
          height: 50px;
          margin-left: 15px;
          margin-right: 15px;
        "
      />
    </div>
  </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  resetPasswordForm.addEventListener("submit", (event) => {
    event.preventDefault();

    const password = document.getElementById("password").value
    const confirmPassword= document.getElementById("confirmPassword").value

    const passwordError = document.getElementById('passwordError')
    const password2Error = document.getElementById('password2Error')

    let isValid = true

    if (!password.trim()) {
      passwordError.textContent = "Password is required";
      isValid = false;
    } else if (password && password.length < 8) {
      passwordError.textContent = "Password must be at least 8 characters long";
      isValid = false;
    } else if (/\s/.test(password) || /^\s|\s$/.test(password)) {
      passwordError.textContent = "Enter a valid password";
      isValid = false;
    } else {
      passwordError.textContent = "";
    }

    //Password 2 validation
    if (!confirmPassword.trim()) {
      password2Error.textContent = "Password confirmation is required";
      isValid = false;
    } else if (password !== confirmPassword) {
      password2Error.textContent = "Passwords do not match";
    } else {
      password2Error.textContent = "";
    }

    if(isValid){
    axios
      .post("/password/reset", { password: password })
      .then((response) => {
        if (response.status == 200) {
          new Noty({
            type: "success",
            text: response.data.msg,
            timeout: 3000, // Duration to display the message (in milliseconds)
            layout: "bottomCenter",
            theme: "relax",
            animation: {
              open: "animated bounceInRight",
              close: "animated bounceOutRight",
            },
            callbacks: {
              afterClose: function () {
                // Redirect to the sign-in page after the notification closes
                window.location.href = "/signin";
              },
            },
          }).show();
        }
      })
      .catch((error) => {
        console.log("it is an error", error);
        if (error.response.status == 409) {
          //   new Noty({
          //     type: "error",
          //     text: error.response.data.message,
          //     timeout: 3000,
          //     layout: "bottomCenter",
          //     theme: "metroui",
          //   }).show();
        }
      });
    }

  });
</script>

<%- include('./footer') %>
