<%- include('./header', {isLogin: isLogin, cartCount: 0}) %>

    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <form method="post" id="signin-form" class="colorlib-form col-md-3" style="height: auto;">
            <p class="form-heading">SIGNIN</p>
            <div class="row">



                <div class="col-md-12">
                    <div class="form-group">
                        <label for="companyname">EMAIL</label>
                        <input value="sujithforcoding@gmail.com" type="email" id="email" class="form-control"
                            placeholder="Email Address">
                        <span id="emailError" style="color: red"></span>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="companyname">PASSWORD</label>
                        <input value="sujith@123" type="password" id="password" class="form-control"
                            placeholder="Password">
                        <div class="col-md-12 text-right">
                            <a href="/password/reset/request" class="forgot-password-button">Forgot Password?</a>
                        </div>
                        <span id="passwordError" style="color: red"></span>
                    </div>

                </div>




                <input type="submit" value="Submit" style="background-color: #4f2f2d;" class="form-button">

                <div class="col-md-12">
                    <a href="/signup" class="create-account-button">Create New Account</a>
                </div>


                <div class="col-md-12">
                    <div class="separator">
                        <span>OR</span>
                    </div>
                </div>

                <div class="col-md-12">
                    <a href="/auth/google" type="button" class="google-signin-button">
                        <img src="/static/images/googlelogo.svg" alt="Google logo">
                        Sign in with Google
                    </a>
                </div>


            </div>
        </form>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/custom/js/user/signin.js"></script>

    <%- include('./footer') %>