<%- include('./header', {isLogin: isLogin, cartCount: 0}) %>

<div
  class="d-flex justify-content-center align-items-center"
  style="min-height: 100vh; padding-top: 100px; padding-bottom: 100px"
>
  <form
    method="POST"
    id="signup-form"
    action="/signup"
    class="colorlib-form col-md-3"
  >
    <p class="form-heading">SIGNUP</p>
    <div class="row">
      <div class="row" style="margin-left: 5px; margin-right: 5px">
        <div class="col-md-6">
          <div class="form-group">
            <label for="fname">First Name</label>
            <input
              type="text"
              id="fname"
              name="fname"
              class="form-control"
              placeholder="Your firstname"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="lname">Last Name</label>
            <input
              type="text"
              id="lname"
              name="lname"
              class="form-control"
              placeholder="Your lastname"
            />
          </div>
        </div>

        <span id="nameError" style="color: red; margin-left: 20px"></span>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <label for="companyname">EMAIL</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Email Address"
          />
          <span id="emailError" style="color: red"></span>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <label for="companyname">PHONE</label>
          <input
            type="text"
            id="phone"
            name="phone"
            class="form-control"
            placeholder="Phone Number"
          />
          <span id="phoneError" style="color: red"></span>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <label for="companyname">PASSWORD</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Password"
          />
          <span id="passwordError" style="color: red"></span>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <label for="companyname">CONFIRM PASSWORD</label>
          <input
            type="password"
            id="confirm-password"
            name="confirm-password"
            class="form-control"
            placeholder="Confirm Password"
          />
          <span id="password2Error" style="color: red"></span>
        </div>
      </div>

      <input type="submit" value="Submit" style="background-color: #4f2f2d;" class="form-button" />

      <div class="col-md-12">
        <a href="/signin" class="create-account-button"
          >Already have an account?</a
        >
      </div>
      <div class="col-md-12">
        <div class="separator">
          <span>OR</span>
        </div>
      </div>

      <div class="col-md-12">
        <a href="/auth/google" type="button" class="google-signin-button">
          <img src="/static/images/googlelogo.svg" alt="Google logo" />
          Sign up with Google
        </a>
      </div>
    </div>
  </form>
  <span style="display: none;" id="referral" referral-code="<%= referralCode %>"></span>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/static/custom/js/user/signup.js"></script>
<%- include('./footer') %>
