<%- include('./header', {isLogin: isLogin, cartCount: 0}) %>

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <form method="post" id="signin-form" class="colorlib-form col-md-3" style="height: auto;">
        <p class="form-heading">SIGNIN</p>
      <div class="row">
    
    
    
            <div class="col-md-12">
                <div class="form-group">
                    <label for="companyname">EMAIL</label>
                <input value="sujithvsxyz@yopmail.com" type="email" id="email" class="form-control" placeholder="Email Address">
                <span id="emailError" style="color: red"></span>
          </div>
       </div>
    
    <div class="col-md-12">
        <div class="form-group">
            <label for="companyname">PASSWORD</label>
        <input value="sujith@123" type="password" id="password" class="form-control" placeholder="Password">
        <div class="col-md-12 text-right">
            <a href="/password/reset/request" class="forgot-password-button">Forgot Password?</a>
        </div>
        <span id="passwordError" style="color: red"></span>
    </div>

    </div>

   
    

    <input type="submit" class="form-button">

    <div class="col-md-12">
        <a href="/signup" class="create-account-button">Create New Account</a>
    </div>


    <div class="col-md-12">
        <div class="separator">
            <span>OR</span>
        </div>
    </div>

    <div class="col-md-12">
        <a  href="/auth/google" type="button" class="google-signin-button">
            <img src="/static/images/googlelogo.svg" alt="Google logo">
            Sign in with Google
        </a>
    </div>

    
    </div>
    </form>

</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    let signinForm = document.getElementById("signin-form")

    signinForm.addEventListener('submit', (event) => {
        event.preventDefault()

        let email = document.getElementById("email").value
        let password = document.getElementById("password").value

        let emailError = document.getElementById("emailError")

        let isValid = true;


        //Email validation
    if (!email.trim()) {
      emailError.textContent = "Email is required";
      isValid = false;
    } else if (email && !/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)) {
      emailError.textContent = "Please enter a valid email address";
      isValid = false;
    } else if (/\s/.test(email) || /^\s|\s$/.test(email)) {
      emailError.textContent = "Please enter a valid email address";
      isValid = false;
    } else {
      emailError.textContent = "";
    }

       //Password validation
       if (!password.trim()) {
      passwordError.textContent = "Password is required";
      isValid = false;
    } else if (password && password.length < 8) {
      passwordError.textContent = "Password must be at least 8 characters long";
      isValid = false;
    } else if (/\s/.test(password) || /^\s|\s$/.test(password)) {
      passwordError.textContent = "Password cannot contain whitespace";
      isValid = false;
    } else {
      passwordError.textContent = "";
    }
       
    if (isValid) {
        let data = {
            email: email,
            password: password
        }


        axios.post('/signin', data)
            .then((response) => {
                if(response.status == 200){
                    const redirectTo = response.data.redirectTo
                    window.location.href = redirectTo
                }
            })
            .catch((error) => {
                console.log("it is an error123", error)
                if (error.response.status == 404) {
     
     new Noty({
           type: 'error', 
           text:  error.response.data.message,
           timeout: 3000,
           layout: 'bottomCenter', 
           theme: 'metroui',
       }).show();

  }
            })
        }
    })
</script>

<%- include('./footer') %>